*{
    margin: 0;
}

h1{
    background-position: 40%;
    background-color: rgb(6, 63, 219);
    position: relative;
    font-size: 500%;
    height: 100px;
}
.filter{
    position: relative;
    left: 10%;
    top: 13%;
    color: red;
    font-size: 300%;
   
}
.d3 {
    position: absolute;
    top: 12%;
    left: 30%;
    
}
.d3 input {
    width: 700px;
    height: 40px;
}
.d3 button {
    height: 46px;
    width: 62px;
    position: absolute;
}
#selectItem{
    position: absolute;
    height: 50px;
    left: 75%;
    top: 12%;
}


.modalnik{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    color: rgb(255, 255, 255);
    z-index: 99998;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-y:auto;
    visibility: hidden;
    opacity: 0;
    transition: opacity .4s, visibility .4s;
}

.modalview{
    position: absolute;
    width: 800px;
    height: 1300px;
    padding: 45px;
    z-index: 1;
    top: 10%;
    background-color: blue;
    transform: scale(0);
    transition: transform .8s;
}
.description{
    height: 100px;
}
.closemymodal{
    position: absolute;
    top: 8px;
    right: 8px;
    cursor: pointer;
}
.adduser{
    position: absolute;
    bottom: 8px;
    right: 8px;
    cursor: pointer;

}

.modalnik.open{
    visibility: visible;
    opacity: 1;
}

.modalnik.open .modalview{
    transform: scale(1);
}
.modalview .city{
    border: 2px solid rgb(0, 0, 0);
    border-radius: 3px;
    position: relative;
    border-radius: 3px;
    padding: 10px;
    width: 300px;
    height: 40px;   
}
.modalview .room{
    border: 2px solid rgb(0, 0, 0);
    border-radius: 3px;
    border-radius: 3px;
    padding: 10px;
    width: 300px;
    height: 40px;   
}
.modalview .description{
    border: 2px solid rgb(0, 0, 0);
    border-radius: 3px;
    padding: 10px;
    width: 200px;
    height: 300px;
}
.modalview .inputhouse {
    border: 2px solid rgb(0, 0, 0);
    border-radius: 3px;
    width: 300px;
    height: 40px; 
}
.modalview span{
    margin-top: 30px;
    font-size: 3vh;
}
.register{
    position: absolute;
    top: 3%;
    right: 15%;
    width: 200px;
    height: 49px;
}
.login{
    position: absolute;
    height: 55px;
    width: 250px;
    top: 25%;
    left: 30%;
}
.number{
    position: absolute;
    height: 55px;
    width: 250px;
    top: 30%;
    left: 30%;

}
.password{
    position: absolute;
    height: 55px;
    width: 250px;
    top: 35%;
     left: 30%;
}
.modalreg{
    position: absolute;
    
    top: 45%;
     left: 30%;
}
.signin{
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}
.test{
    position: absolute;
    top: 45%;
    left: 42%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.msg{
    top: 50%;
    left: 40%;
    position: absolute;
    border: 2px solid firebrick;
    border-radius: 3px;
    padding: 10px;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: bold;
    height: 50px;
    width: 400px;
}
.username{
    position: absolute;
    top: 1%;
    right: 5%;
    color: red;
    font-family: Comic Sans MS;
    font-weight: bold;
    font-size: 70px;
}
.mail{
    position: absolute;
    height: 55px;
    width: 250px;
    top: 40%;
    left: 30%;
}