*{
    margin: 0;
}
h1{
    background-position: 40%;
    background-color: rgb(252, 10, 10);
    position: relative;
    font-size: 500%;
}
.filter{
    position: relative;
    left: 10%;
    top: 13%;
    color: red;
    font-size: 300%;
   
}
.d3 {
    position: absolute;
    top: 12%;
    left: 30%;
    
}
.d3 input {
    width: 700px;
    height: 40px;
}
.d3 button {
    height: 46px;
    width: 62px;
    position: absolute;
}
#selectItem{
    position: absolute;
    height: 50px;
    left: 75%;
    top: 12%;
}
